<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">$${ctx:log-path}</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <File name="File-Appender" fileName="${log-path}/out-log.csv" >
            <PatternLayout>
                <pattern>
                    %level&#9;%d{yyyy-MM-dd HH:mm:ss.SSS}&#9;%msg%n
                </pattern>
            </PatternLayout>
        </File>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/rollingfile.log"
                     filePattern="${archive}/rollingfile.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <!--PatternLayout pattern="[%-5level %d{yyyy-MM-dd HH:mm:ss.SSS}] %c{1} - %msg%n"/-->
		<PatternLayout pattern="%level&#9;%d{yyyy-MM-dd HH:mm:ss.SSS}&#9;%msg%n"/>
		<!--pattern>
                    %level&#9;%d{yyyy-MM-dd HH:mm:ss.SSS}&#9;%msg%n
                </pattern-->
                <Policies>
                     <!--TimeBasedTriggeringPolicy/-->
                     <SizeBasedTriggeringPolicy size="30 MB"/>
                </Policies>
                     <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
           <!--Logger name="guru.springframework.blog.log4j2xml" level="debug" additivity="false">
               <AppenderRef ref="File-Appender" level="error"/>
               <AppenderRef ref="RollingFile-Appender" level="debug"/>
               <AppenderRef ref="Console-Appender" level="info"/>
           </Logger-->
        <Root level="trace">
            <AppenderRef ref="RollingFile-Appender"/>
        </Root>
    </Loggers>
</Configuration>
